@tailwind base;
@tailwind components;

* {
	transition-property: all;
	transition-duration: 1s;
}
body {
	font-family: 'Rubik', sans-serif;
	@apply h-screen;
	@apply text-center;
	@apply overflow-x-hidden;
	@apply overflow-y-hidden;
	@apply text-gray-700;
	@apply bg-gradient-to-t;
	@apply from-gray-400;
	@apply to-gray-200;
	@apply subpixel-antialiased;
}

.dsa {
	@apply inline;
	@apply w-6;
	@apply h-6;
}

/* Button */
.btn {
	transition-property: background-color, color, box-shadow, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	@apply inline-block;
	@apply text-xl;
	@apply text-white;
	@apply p-2;
	@apply bg-gradient-to-tr;
	@apply from-teal-400;
	@apply to-blue-500;
	@apply rounded-md;
	@apply shadow-xl;
}

.btn-red {
	@apply from-yellow-500;
	@apply to-red-500;
}

.btn-purple {
	@apply from-purple-500;
	@apply to-pink-500;
}

.btn-green {
	@apply from-green-500;
	@apply to-blue-500;
}

.btn-lg {
	@apply text-xl;
	@apply font-medium;
	@apply tracking-wider;
	@apply px-4;
	@apply rounded-lg;
}

.btn:disabled {
	@apply shadow-none;
	@apply cursor-default;
	@apply opacity-75;
}

.btn:focus {
	@apply outline-none;
}

.btn-fixed {
	@apply mb-8;
	@apply fixed;
	@apply bottom-0;
	@apply block;
	@apply z-30;
	left: 50%;
	@apply transform;
	@apply -translate-x-1/2;
}

.btn-vote {
	margin-right: 0 !important;
	@apply flex;
	@apply items-center;
	@apply leading-3;
}

/* Movie Card */
.card {
	perspective: 50cm;
	@apply inline-block;
	@apply mx-auto;
}
.card__title {
	@apply font-medium;
	max-width: 208px;
	left: 50%;
	width: fit-content;
	@apply bg-gray-100;
	@apply py-2;
	@apply px-4;
	@apply rounded-md;
	@apply shadow-xl;
	@apply absolute;
	@apply transform;
	@apply z-10;
	@apply -translate-y-1/2;
	@apply -translate-x-1/2;
}
.card__buttons {
	width: 240px;
	@apply flex;
	@apply absolute;
	@apply transform;
	@apply justify-center;
	@apply z-20;
	@apply -translate-y-1/2;
}
.card__buttons > .btn {
	@apply mr-4;
}
.card__inner {
	@apply relative;
	height: 360px;
	width: 240px;
	max-width: 240px;
}
.card__img {
	backface-visibility: hidden;
	@apply w-full;
	@apply max-w-full;
	@apply h-full;
	@apply relative;
	@apply rounded-lg;
	@apply shadow-lg;
	@apply bg-gray-900;
}
.card__back {
	backface-visibility: hidden;
	will-change: transform;
	@apply text-sm;
	height: 360px;
	width: 240px;
	@apply absolute;
	@apply top-0;
	@apply overflow-hidden;
	@apply shadow-lg;
	@apply rounded-lg;
	@apply bg-gray-100;
	@apply flex;
	@apply flex-col;
	@apply justify-between;
}
.card__overview {
	@apply overflow-y-auto;
	@apply text-left;
	@apply px-4;
}
.card__genres {
	@apply text-xs;
	@apply pb-6;
	@apply pt-2;
	@apply w-full;
}

/* List */
.list {
	max-width: 1920px;
	@apply mx-auto;
	@apply grid;
	@apply grid-cols-1;
	@apply items-end;
	@apply w-full;
	@apply pb-32;
}

/* NavBar */
.navbar {
	@apply w-full;
	@apply bg-gray-800;
	@apply flex;
	@apply items-center;
	@apply justify-center;
	@apply flex-wrap;
	@apply flex-col;
	@apply shadow-md;
	@apply text-gray-100;
	@apply px-4;
}
.navbar__title {
	@apply inline-block;
	@apply text-3xl;
	@apply mt-5;
	@apply text-gray-100;
	@apply font-medium;
	@apply uppercase;
	@apply tracking-wide;
	@apply float-left;
}
.navbar__menu {
	@apply inline-block;
}

/* Nav Button */
.nav_btn {
	@apply inline-block;
}
.nav_btn__link {
	@apply block;
	@apply rounded-md;
	@apply px-2;
	@apply py-1;
	@apply m-4;
	@apply shadow-none;
	@apply text-gray-400;
}
.nav_btn__link:hover {
	@apply bg-gray-900;
}
.nav_btn__link:active {
	@apply bg-gray-700;
}
.nav_btn__link:focus {
	@apply shadow-outline;
}

/* Page */
.page {
	@apply overflow-y-scroll;
	height: calc(100vh - 7.5rem);
	@apply pt-8;
}

/* Radio Group & Input */
.radio_group {
	@apply inline-block;
	@apply rounded-lg;
	@apply bg-gray-700;
	@apply py-2;
	@apply px-2;
	@apply shadow-inner;
	@apply shadow-lg;
	@apply mx-auto;
}
.radio {
	@apply whitespace-no-wrap;
	@apply text-gray-400;
	@apply text-lg;
	@apply font-medium;
	@apply px-2;
	@apply py-1;
	@apply cursor-pointer;
	@apply transition-colors;
	@apply duration-1000;
}
.radio > .radio__input {
	@apply hidden;
}
.radio.radio-active {
	@apply text-white;
}
.radio {
	@apply border-r;
	@apply border-gray-600;
}
.radio:last-of-type {
	@apply border-none;
	@apply border-0;
}

/* Page Error 404 */
.e404 {
	@apply py-16;
	@apply max-w-md;
	@apply mx-auto;
}
.e404__title {
	@apply text-5xl;
	@apply font-bold;
}
.e404__subtitle {
	@apply text-2xl;
	@apply leading-normal;
}
.e404__paragraph {
	@apply mb-8;
}

/* Transition */
.nav_btn__link {
	@apply transition-colors;
	@apply duration-500;
	@apply ease-in-out;
}

/* Responsive */
@screen sm {
	.list {
		@apply grid-cols-2;
	}
}
@screen md {
	.navbar {
		@apply flex-row;
		@apply justify-between;
	}
	.navbar__title {
		@apply mt-0;
	}
	.list {
		@apply grid-cols-3;
	}
	.page {
		height: calc(100vh - 4rem);
	}
}
@screen lg {
	.list {
		@apply grid-cols-4;
	}
}
@screen xl {
	.list {
		@apply grid-cols-5;
	}
}

@tailwind utilities;
