@tailwind base;
@tailwind components;

/* Font */
@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-Light.woff2') format('woff2'), url('/src/assets/font/Roboto-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-BlackItalic.woff2') format('woff2'), url('/src/assets/font/Roboto-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-Bold.woff2') format('woff2'), url('/src/assets/font/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-Medium.woff2') format('woff2'), url('/src/assets/font/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-LightItalic.woff2') format('woff2'), url('/src/assets/font/Roboto-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-Italic.woff2') format('woff2'), url('/src/assets/font/Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-Thin.woff2') format('woff2'), url('/src/assets/font/Roboto-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-MediumItalic.woff2') format('woff2'), url('/src/assets/font/Roboto-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-ThinItalic.woff2') format('woff2'), url('/src/assets/font/Roboto-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-BoldItalic.woff2') format('woff2'), url('/src/assets/font/Roboto-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-Black.woff2') format('woff2'), url('/src/assets/font/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/src/assets/font/Roboto-Regular.woff2') format('woff2'), url('/src/assets/font/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Body */
body {
	font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
	@apply h-screen;
	@apply text-center;
	@apply overflow-x-hidden;
	@apply overflow-y-hidden;
	@apply text-gray-700;
	@apply bg-gradient-to-t;
	@apply from-gray-400;
	@apply to-gray-200;
	@apply subpixel-antialiased;
}

/* App */
.app {
	@apply flex;
	@apply flex-col;
	@apply max-h-screen;
}

/* Button */
.btn {
	@apply transform;
	@apply transition-all;
	@apply duration-300;
	@apply ease-in-out;
	@apply inline-block;
	@apply text-xl;
	@apply text-white;
	@apply p-2;
	@apply bg-gradient-to-tr;
	@apply from-teal-400;
	@apply to-blue-500;
	@apply rounded-md;
	@apply shadow-xl;
}

.btn-red {
	@apply from-yellow-500;
	@apply to-red-500;
}

.btn-purple {
	@apply from-purple-500;
	@apply to-pink-500;
}

.btn-green {
	@apply from-green-500;
	@apply to-blue-500;
}

.btn-lg {
	@apply text-xl;
	@apply font-medium;
	@apply tracking-wider;
	@apply px-4;
	@apply rounded-lg;
}

.btn:hover {
	@apply scale-125;
}

.btn:active {
	@apply scale-90;
	@apply -rotate-12;
}

.btn:focus {
	@apply outline-none;
}

.btn:disabled {
	@apply transform-none;
	@apply shadow-none;
	@apply cursor-default;
	@apply opacity-75;
}

.btn-fetch {
	@apply mt-4;
	@apply mx-auto;
	@apply block;
}

.btn-fetch:active {
	@apply rotate-0;
}

.btn-vote {
	@apply inline-flex;
	@apply items-center;
	@apply leading-3;
	@apply mx-4;
	@apply transform-none;
}

/* Movie Card */
.card {
	will-change: transform;
	flex-basis: 100%;
	perspective: 50cm;
	width: min-content;
	@apply inline-block;
	@apply pb-10;
}

.card__title {
	@apply font-medium;
	max-width: 208px;
	left: 50%;
	width: fit-content;
	@apply bg-white;
	@apply py-2;
	@apply px-4;
	@apply rounded-md;
	@apply shadow-xl;
	@apply absolute;
	@apply z-10;
	@apply border;
	@apply border-gray-200;
	@apply transform;
	@apply -translate-y-1/2;
	@apply -translate-x-1/2;
}

.card__buttons {
	left: 50%;
	width: 240px;
	@apply flex;
	@apply absolute;
	@apply transform;
	@apply justify-center;
	@apply z-20;
	@apply -translate-y-1/2;
	@apply -translate-x-1/2;
}

.card svg {
	@apply w-6;
	@apply h-6;
}

.card__inner {
	@apply relative;
	@apply mx-auto;
	height: 360px;
	width: 240px;
	max-width: 240px;
}

.card__img {
	backface-visibility: hidden;
	@apply w-full;
	@apply max-w-full;
	@apply h-full;
	@apply relative;
	@apply rounded-lg;
	@apply shadow-lg;
	@apply bg-gray-900;
}

.card__back {
	backface-visibility: hidden;
	height: 360px;
	width: 240px;
	@apply border;
	@apply border-gray-200;
	@apply text-sm;
	@apply absolute;
	@apply top-0;
	@apply overflow-hidden;
	@apply shadow-lg;
	@apply rounded-lg;
	@apply bg-white;
	@apply flex;
	@apply flex-col;
	@apply justify-between;
	@apply px-4;
}

.card__overview {
	@apply overflow-y-auto;
	@apply text-left;
}

.card__genres {
	@apply text-xs;
	@apply pb-6;
	@apply pt-2;
	@apply w-full;
}

/* List */
.list {
	max-width: 1920px;
	padding-top: 7rem;
	@apply mx-auto;
	@apply flex;
	@apply flex-wrap;
	@apply items-end;
	@apply justify-center;
	@apply w-full;
	@apply pb-16;
}

/* Loading Spinier */
.loading {
	@apply animate-spin;
	@apply h-5;
	@apply w-5;
	@apply mr-2;
	@apply mb-1;
	@apply inline-block;
}

/* Link Image */
.logo_link {
	@apply rounded-xl;
	@apply my-8;
	@apply mx-16;
	@apply bg-white;
	@apply relative;
	@apply shadow-xl;
	@apply transition-transform;
	@apply duration-300;
	@apply transform;
	@apply border;
	@apply border-gray-200;
}

.logo_link:hover {
	@apply scale-110;
}

.logo_link:active {
	@apply scale-90;
}

.logo_link__logo {
	@apply mx-auto;
	@apply block;
	@apply m-6;
	@apply w-32;
	@apply h-32;
}

.logo_link__title {
	left: 50%;
	@apply text-xl;
	@apply absolute;
	@apply rounded-lg;
	@apply shadow-xl;
	@apply px-3;
	@apply py-1;
	@apply bg-white;
	@apply transform;
	@apply font-medium;
	@apply tracking-wider;
	@apply border;
	@apply border-gray-100;
	@apply -translate-y-1/2;
	@apply -translate-x-1/2;
}

/* NavBar */
.navbar {
	@apply w-full;
	@apply bg-white;
	@apply relative;
	@apply flex;
	@apply items-center;
	@apply justify-center;
	@apply flex-wrap;
	@apply flex-col;
	@apply shadow-xl;
	@apply px-4;
	@apply z-10;
}

.navbar__title {
	@apply transition-colors;
	@apply duration-300;
	@apply text-teal-500;
	@apply inline-block;
	@apply capitalize;
	@apply text-4xl;
	@apply font-medium;
	@apply mt-5;
	@apply tracking-wide;
	@apply float-left;
}

.navbar__menu {
	@apply inline-block;
}

/* Nav Button */
.nav_btn {
	@apply inline-block;
	@apply text-lg;
	@apply font-medium;
	@apply tracking-wider;
	@apply text-gray-500;
}

.nav_btn__link {
	@apply transition-colors;
	@apply duration-500;
	@apply ease-in-out;
	@apply block;
	@apply rounded-lg;
	@apply px-3;
	@apply py-1;
	@apply my-4;
	@apply mx-4;
	@apply shadow-none;
}

.nav_btn__link:hover {
	@apply bg-gray-100;
	@apply text-gray-300;
}

.nav_btn__link:focus {
	@apply shadow-outline;
}

/* Radio Group & Input */
.radio_group {
	@apply inline-block;
	@apply rounded-lg;
	@apply bg-gray-800;
	@apply py-2;
	@apply px-2;
	@apply shadow-xl;
	@apply mx-auto;
}

.radio {
	@apply whitespace-no-wrap;
	@apply text-gray-400;
	@apply text-xl;
	@apply font-medium;
	@apply px-2;
	@apply py-1;
	@apply cursor-pointer;
	@apply transition-colors;
	@apply duration-1000;
}

.radio > .radio__input {
	@apply hidden;
}

.radio.radio-active {
	@apply text-white;
}

.radio {
	@apply border-r;
	@apply border-gray-600;
}

.radio:last-of-type {
	@apply border-none;
	@apply border-0;
}

/* Toolbar */
.toolbar {
	left: 50%;
	@apply w-full;
	@apply absolute;
	@apply z-50;
	@apply mt-4;
	@apply transform;
	@apply -translate-x-1/2;
}

/* Page */
.page {
	@apply h-full;
	@apply overflow-y-auto;
	@apply overflow-x-hidden;
}

/* Home Page */
.home {
	@apply relative;
	@apply overflow-y-auto;
	@apply flex;
	@apply flex-wrap;
	@apply justify-center;
	@apply mx-auto;
	@apply p-8;
}

/* State Managers Color */
.hooks {
	color: #61dafb;
}

.hooks > .nav_btn__link:hover {
	color: #61dafb;
	background-color: #61dafb26;
}

.mobx {
	color: #ea6618;
}

.mobx > .nav_btn__link:hover {
	color: #ea6618;
	background-color: #ea661826;
}

.redux {
	color: #764abc;
}

.redux > .nav_btn__link:hover {
	color: #764abc;
	background-color: #764abc26;
}

/* Scroll */
.card__overview::-webkit-scrollbar,
.page::-webkit-scrollbar {
	@apply h-3;
	@apply w-3;
}

.card__overview::-webkit-scrollbar-track,
.page::-webkit-scrollbar-track {
	@apply bg-transparent;
}

.card__overview::-webkit-scrollbar-thumb,
.page::-webkit-scrollbar-thumb {
	/* box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px; */
	@apply from-blue-500;
	@apply to-purple-500;
	@apply bg-gradient-to-t;
	@apply rounded-full;
}

/* Responsive */
@screen sm {
	.card {
		flex-basis: 50%;
	}
}
@screen md {
	.btn-fetch {
		@apply m-0;
		@apply ml-8;
		@apply inline-block;
	}

	.card {
		flex-basis: 33.333%;
	}

	.list {
		@apply pt-32;
	}

	.navbar {
		@apply flex-row;
		@apply justify-between;
	}

	.navbar__title {
		@apply mt-0;
	}

	.toolbar {
		@apply mt-8;
	}
}
@screen lg {
	.card {
		flex-basis: 25%;
	}
}
@screen xl {
	.card {
		flex-basis: 20%;
	}
}

@tailwind utilities;
